{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}Longevos / Login{% endblock %}

{% block content %}  
  <div class="row">    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <center>
        <br>
        <img src="{% static 'core/img/logoLongevos.jpeg' %}" class="img-responsive" style="max-width: 150px;">        
      </center> 
      <center>       
        <h3>História</h3>
        <p>
          "Como é bom ver a velha guarda do padel reunida. Se o padel está onde está, é por que vocês foram os precursores e deixaram vivo 
          o esporte, quando era apenas uma novidade nos anos 90. Como é na vida, trabalhamos a vida toda para ver os filhos crescerem, então  
          estamos aqui só curtindo o que construímos juntos: uma Santa Maria com as melhores estruturas do Brasil. <br>
          'Velharada' da pré história (quadra alvenaria) para o mundo digital (quadras de vidros ) curtam e desfrutem de cada partida jogada".
          <br>
          <p><b>Professor Lucas 'Neguinho' Souza</b></p>
        </p>
        <br>
        <h3>Treinadores Star Padel</h3>
        
          Carlos Augusto Uruguaiana<br>
          'Tio' Nico<br>
          German Faure<br>
          Lucas Souza<br>
        
      </center>        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
      <h3 align="center">Ranking</h3>      
      <p>Relação dos atletas e suas pontuações....</p>

      <h3 align="center">Jogos e Placares</h3>      
      <p>Jogos e Placares do torneio vigente</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <h3 class="text-center">Área de Longevos</h3>
      <p align="center"><small>Acesse o sistema para manter seus dados atualizados, fazer a inscrição em torneios e acompanhar seu desempenho.</small></p>
      <div class="account-wall">
        <form class="form-signin" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <span class="clearfix"></span>
        <p style="text-align:center;">
          <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
            {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
          </button>
        </p>
        <p style="text-align:center;">
          <a class="btn btn-warning" style="width:100%;" href="">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
        </p> 
        </form>
        <p align="justify"><small>
          Projeto Extensionista do Curso Ciência da Computação da Universidade Franciscana, em parceria com Team Neguinho e 
          Star Padel Club. A ideia foi integrar os alunos da disciplina Tópicos Avançados em Computação (Desenvolvimento Web com Python-Django),
          com uma demanda da comunidade. Neste caso, um sistema para gerenciar os torneios dos Longevos.</small>
        </p>
      </div>
    </div>
  </div>
  
  <div align="center">
    <a href="https://www.facebook.com/teamneguinholucas/" target="_blank"><img src="{% static 'core/img/logoTeamNeguinho.jpg' %}" style="width: 110px;"></a>
    <a href="https://www.starpadelclub.com.br/" target="_blank"><img src="{% static 'core/img/logoStarPadel.png' %}" style="width: 120px;"></a>
    <a href="https://www.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logoUFN_hor.jpg' %}" style="width: 120px;"></a>
  </div>  
  <div class="alert alert-info text-center">
    <p class="text-center"><small><a href="https://www.lapinf.ufn.edu.br" target="_blank">Laboratório de Práticas</a> do Curso
    <a href="https://www.ufn.edu.br/site/ensino/graduacao/ciencia-da-computacao" target="_blank">Ciência da Computação</a> - Disciplina Tópicos Avançados</p>
  </div>  
{% endblock %}
