{% load bootstrap3 %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Longevos +40</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="{% url 'home' %}"> {% bootstrap_icon 'home' %} Home <span class="sr-only">(current)</span></a></li>

        <li class=""><a href="{% url 'usuario_list' %}">{% bootstrap_icon 'user' %} Longevos</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'tower' %} Gestão Etapas <span class="caret"></span></a>
          <ul class="dropdown-menu">            
            <li class=""><a href="{% url 'etapa_list' %}"> Etapas (AUTOMÁTICO)</a></li>
            <li role="separator" class="divider"></li>
            <li class=""><a href="{% url 'chave_list' %}"> Chaves em Etapas (MANUAL)</a></li>
            <li class=""><a href="{% url 'chavedupla_list' %}"> Duplas em Chaves (MANUAL)</a></li>
          </ul>
        </li>
        
        <li class=""><a href="{% url 'inscricao_list' %}">{% bootstrap_icon 'plus' %} Inscrições</a></li>        
        <li class=""><a href="{% url 'dupla_list' %}">{% bootstrap_icon 'cog' %} Montar duplas</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'foto_list' %}">{% bootstrap_icon 'camera' %} Fotos</a></li>
        <li><a href="{% url 'about' %}">{% bootstrap_icon 'question-sign' %} Sobre</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'password_change' %}">Alterar senha</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}?next=/">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>