{% extends 'appaluno/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'list-alt' %} Lista de submissões Trabalhos de Conclusão
{% endblock %}


{% block content %}
	<!-- <div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'submissao_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Criar projeto TCC</a>
	  </div>
	</div> -->
	<div class="table-responsive">
		<table class="table table-hover">
	  		<thead>
				<th>Status</th>
				<th>Turma</th>
				<th>Orientador</th>
				<th>{% bootstrap_icon 'option-vertical' %}</th>
				<th class="text-center">Sugestões Pré-projeto</th>
				<th class="text-center">Apto</th>
				<th class="text-center">Rebanca</th>
				<th class="text-center">Parecer Banca</th>
				<th>{% bootstrap_icon 'option-vertical' %}</th> 
				<th class="text-center">Aceite</th>
				<th class="text-center">Normativas</th>
				<th class="text-center">Pré-Projeto</th>
				<th class="text-center">Termo Autoria</th>
				<th class="text-center">Texto TCC orientador</th>
				<th class="text-center">Texto TCC banca</th>
				<th class="text-center">Texto Final</th>
				<th class="text-center">Termo Biblioteca</th>
				<th class="text-center">Editar Submissão</th>
	  		</thead>
	  		<tbody>
	  			{% for submissao in object_list %}
					<tr>
						<td>{{ submissao.status }}</td>
						<td>{{ submissao.turma }}</td>
						<td>
							{% if submissao.orientador %}
								{{ submissao.orientador.nome }}
							{% else %}
								<div class="btn btn-sm btn-warning">
									{% bootstrap_icon 'thumbs-down' size='sm'%}
								</div>
							{% endif %}
						</td>
						<td>
							{% bootstrap_icon 'option-vertical' %}
						</td>						
						<td class="text-center">
							<span data-toggle="tooltip"  title='Sugestões para o pré-projeto'>
								{% if submissao.turma.disciplina.sigla == "TFG2" %}
									TCC2
								{% else %}
									{% if submissao.sugestoes_preprojeto %}
										<a href="{{ submissao.get_sugestao_preprojeto_url }}" class="btn btn-sm btn-success">
											{% bootstrap_icon 'download' %}
										</a>
									{% else %}
										<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
											{% bootstrap_icon 'download' %}
										</a>
									{% endif %}
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							{% if submissao.avaliacao.apto == 'NÃO'%}
								<span class="label label-danger">{{ submissao.avaliacao.apto }}</span>
							{% else %}
								<span class="label label-info">{{ submissao.avaliacao.apto }}</span>
							{% endif %}
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Aluno em rebanca?'>
								{% if submissao.avaliacao.rebanca == 'SIM'%}
									<span class="label label-danger">{{ submissao.avaliacao.rebanca }}</span>
								{% else %}
									<span class="label label-info">{{ submissao.avaliacao.rebanca }}</span>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							{% if submissao.avaliacao.parecer_liberado == 'SIM' %}
								<span data-toggle="tooltip"  title='Pareceres dos avaliadores'>
									<a href="{{ submissao.avaliacao.get_parecer_liberado_aluno_url }}" class="btn btn-sm btn-danger">
										{% bootstrap_icon 'download' %}
									</a>
								</span>
							{% endif %}	
						</td>
						<td>
							{% bootstrap_icon 'option-vertical' %}
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Documento de aceite'>
								{% if submissao.arquivo_documento_aceite %}
									<a href="{{ submissao.arquivo_documento_aceite.url }}" target="_blank" class="btn btn-sm btn-success">
										{% bootstrap_icon 'download' %}
									</a>
								{% else %}
									<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
										{% bootstrap_icon 'download' %}
									</a>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Normativas'>
								{% if submissao.normativas == 'SIM' %}
									<div class="btn btn-sm btn-success">
										{% bootstrap_icon 'thumbs-up' size='sm'%}
									</div>
								{% else %}
									<div class="btn btn-sm btn-warning">
										{% bootstrap_icon 'thumbs-down' size='sm'%}
									</div>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Pré-projeto'>
								{% if submissao.turma.disciplina.sigla == "TFG2" %}
									TCC2
								{% else %}
									{% if submissao.arquivo_texto_preprojeto %}
										<a href="{{ submissao.arquivo_texto_preprojeto.url }}" target="_blank" class="btn btn-sm btn-success">
											{% bootstrap_icon 'download' %}
										</a>
									{% else %}
										<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
											{% bootstrap_icon 'download' %}
										</a>
									{% endif %}
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Termo de autoria'>
								{% if submissao.termo_autoria == 'SIM' %}
									<div class="btn btn-sm btn-success">
										{% bootstrap_icon 'thumbs-up' size='sm'%}
									</div>
								{% else %}
									<div class="btn btn-sm btn-warning">
										{% bootstrap_icon 'thumbs-down' size='sm'%}
									</div>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Texto para banca'>
								{% if submissao.arquivo_texto_tfgorientador %}
									<a href="{{ submissao.arquivo_texto_tfgorientador.url }}" target="_blank" class="btn btn-sm btn-success">
										{% bootstrap_icon 'download' %}
									</a>
								{% else %}
									<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
										{% bootstrap_icon 'download' %}
									</a>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Texto para banca'>
								{% if submissao.arquivo_texto_tfgbanca %}
									<a href="{{ submissao.arquivo_texto_tfgbanca.url }}" target="_blank" class="btn btn-sm btn-success">
										{% bootstrap_icon 'download' %}
									</a>
								{% else %}
									<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
										{% bootstrap_icon 'download' %}
									</a>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Texto final'>
								{% if submissao.arquivo_texto_tfgfinal %}
									<a href="{{ submissao.arquivo_texto_tfgfinal.url }}" target="_blank" class="btn btn-sm btn-success">
										{% bootstrap_icon 'download' %}
									</a>
								{% else %}
									<a href="" target="_blank" class="btn btn-sm btn-warning disabled">
										{% bootstrap_icon 'download' %}
									</a>
								{% endif %}
							</span>
						</td>
						<td class="text-center">
							<span data-toggle="tooltip"  title='Termo de biblioteca'>
								{% if submissao.turma.disciplina.sigla == "TFG2" %}
									{% if submissao.termo_biblioteca %}
										<div class="btn btn-sm btn-success">
											{% bootstrap_icon 'thumbs-up' size='sm'%}
										</div>
									{% else %}
										<div class="btn btn-sm btn-warning">
											{% bootstrap_icon 'thumbs-down' size='sm'%}
										</div>
									{% endif %}
								{% else %}
									TCC1
								{% endif %}
							</span>
						</td>
						
						<td class="text-center">
							{% if submissao.status == "EM ANDAMENTO"%}
								<span data-toggle="tooltip"  title='Editar submissão de TCC: termos e documentos'>
									{% bootstrap_button content='' href=submissao.get_appaluno_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
								</span>
							{% else%}
								<a href="" target="_blank" class="btn btn-sm btn-primary disabled">
									{% bootstrap_icon 'edit' %}
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
	  		</tbody>
		</table>
	</div>
{% endblock %}