{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{% bootstrap_icon 'question-sign' %} Sobre
{% endblock %}


{% block content %}
	<center>
	<!-- <img src="{% static 'core/img/logoLasimon.png' %}"
         class="img-responsive"> -->
    </center>
	<h5>Projeto Extensionista do Curso Ciência da Computação da Universidade Franciscana, em parceria com Team Neguinho e 
		Star Padel Club. A ideia foi integrar os alunos da disciplina Tópicos Avançados em Computação (Desenvolvimento Web com Python-Django),
		com uma demanda da comunidade, envolvendo a experiência de uma empresa de Tecnologia da Informação - ER Sistemas.</h5>
	
	<h4>Versão:</h4>
	<ul>
		<li>1.0 de Maio de 2023</li>	
	</ul>
	<h4>Apoio:</h4>
	<ul>
		<li>Star Padel</li>
		<li>Universidade Franciscana</li>
	</ul>
	<h4>
		Colaboradores:
	</h4>
	<ul> 
		<li><strong>UFN</strong></li>
			<ul>
				<li>Professores:</li>
				<ul>
					<li>Alexandre Zamberlan - responsável técnico</li>
					<li>Ana Paula Canal - Coordenadora do Curso Ciência da Computação</li>
					<li>Sylvio André Garcia Vieira - Coordenador do Laboratório de Práticas</li>
				</ul>
				<li>Alunos:</li>
				<ul>
					<li>Alexandre Zigiotto Zeni</li>
					<li>Augusto Pinto Meine</li>
					<li>Douglas Friedrich Charão</li>
					<li>Gustavo Rossoni Corrêa de Barros</li>
					<li>Lucas Bastos Suchorski</li>
					<li>Pedro Cassenote Batista</li>
					<li>Pedro Guilherme Gabriel Maurer</li>
					<li>Régis Ludovico Friggo Martins</li>
					<li>Thiago Rossi Rocha</li>
					<li>Victor Santos Marques</li>
					<li>Vinícius Moura da Silva</li>
					<li>William Lorenzoni Zottele</li>
				</ul>
			</ul>
		
	</ul>
	<h4>
		Consultoria:
	</h4>
		<ul> 
			<li><a href="http://site.ersistemas.info/" target="_blank"> Empresa ER Sistemas</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação)</li>
		</ul>
	
{% endblock %}
